@model List<Entity.Concrete.View_AdInfo>
@{
    Layout = "_Layout";
    ViewBag.Title = "Ilanlar";
}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="section-bg">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h3 class="section-title">İLANLAR</h3>
            <p>Buradan yayınlanan ilanları görüntüleyebilirsiniz.</p>
        </header>

        @* FATOŞ
            <div class="btn-group dropup">
            <button type="button" class="btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sıralama
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-controller="GeneralPage" asp-action="Ad" asp-route-data="1">Eskiden Yeniye</a>
                <a class="dropdown-item" asp-controller="GeneralPage" asp-action="Ad" asp-route-data="2">Yeniden Eskiye</a>
            </div>
        </div>*@
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class=" col-lg-10">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">HEPSİ</li>
                    <li data-filter=".filter-food">YEMEK</li>
                    <li data-filter=".filter-stuff">EŞYA</li>
                    <li data-filter=".filter-money">PARA</li>
                    <li data-filter=".filter-pet">HAYVAN</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    @if (item.CategoryID == 1)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-food">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/img/yemek.jpg" class="img-fluid" alt="">
                                    <a data-title="food" class="link-preview" data-toggle="modal" data-target="#infoAd_@item.AdID"><i class="ion ion-eye"></i></a>
                                    <a class="link-details" title="Daha Fazla Bilgi" asp-controller="MemberPage" asp-action="RequestNewAd" asp-route-id="@item.AdID"><i class="ion ion-checkmark"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">@item.AdTitle</a></h4>
                                    <p>@item.AdInfo</p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (item.CategoryID == 2)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-stuff">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/img/stuff.jpg" class="img-fluid" alt="">
                                    <a data-title="food" class="link-preview" data-toggle="modal" data-target="#infoAd_@item.AdID"><i class="ion ion-eye"></i></a>
                                    <a class="link-details" title="Daha Fazla Bilgi" asp-controller="MemberPage" asp-action="RequestNewAd" asp-route-id="@item.AdID"><i class="ion ion-checkmark"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">@item.AdTitle</a></h4>
                                    <p>@item.AdInfo</p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (item.CategoryID == 3)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-pet">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/img/pet.jpg" class="img-fluid" alt="">
                                    <a data-title="food" class="link-preview" data-toggle="modal" data-target="#infoAd_@item.AdID"><i class="ion ion-eye"></i></a>
                                    <a class="link-details" title="Daha Fazla Bilgi" asp-controller="MemberPage" asp-action="RequestNewAd" asp-route-id="@item.AdID"><i class="ion ion-checkmark"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">@item.AdTitle</a></h4>
                                    <p>@item.AdInfo</p>
                                </div>
                            </div>
                        </div>

                    }
                    @if (item.CategoryID == 4)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-money">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/img/money.jpg" class="img-fluid" alt="">
                                    <a data-title="food" class="link-preview" data-toggle="modal" data-target="#infoAd_@item.AdID"><i class="ion ion-eye"></i></a>
                                    <a class="link-details" title="Daha Fazla Bilgi" asp-controller="MemberPage" asp-action="RequestNewAd" asp-route-id="@item.AdID"><i class="ion ion-checkmark"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">@item.AdTitle</a></h4>
                                    <p>@item.AdInfo</p>
                                </div>
                            </div>
                        </div>

                    }
                    @if (item.CategoryID == 5)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="assets/img/portfolio/web2.jpg" class="img-fluid" alt="">
                                    <a data-title="food" class="link-preview" data-toggle="modal" data-target="#infoAd_@item.AdID"><i class="ion ion-eye"></i></a>
                                    <a class="link-details" title="Daha Fazla Bilgi" asp-controller="MemberPage" asp-action="RequestNewAd" asp-route-id="@item.AdID"><i class="ion ion-checkmark"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">Web 2</a></h4>
                                    <p>Web</p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (item.CategoryID == 6)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="assets/img/portfolio/app3.jpg" class="img-fluid" alt="">
                                    <a data-title="food" class="link-preview" data-toggle="modal" data-target="#infoAd_@item.AdID"><i class="ion ion-eye"></i></a>
                                    <a class="link-details" title="Daha Fazla Bilgi" asp-controller="MemberPage" asp-action="RequestNewAd" asp-route-id="@item.AdID"><i class="ion ion-checkmark"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">App 3</a></h4>
                                    <p>App</p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (item.CategoryID == 7)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="assets/img/portfolio/card1.jpg" class="img-fluid" alt="">
                                    <a data-title="food" class="link-preview" data-toggle="modal" data-target="#infoAd_@item.AdID"><i class="ion ion-eye"></i></a>
                                    <a class="link-details" title="Daha Fazla Bilgi" asp-controller="MemberPage" asp-action="RequestNewAd" asp-route-id="@item.AdID"><i class="ion ion-checkmark"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">Card 1</a></h4>
                                    <p>Card</p>
                                </div>
                            </div>
                        </div>

                    }
                    @if (item.CategoryID == 8)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="assets/img/portfolio/card3.jpg" class="img-fluid" alt="">
                                    <a data-title="food" class="link-preview" data-toggle="modal" data-target="#infoAd_@item.AdID"><i class="ion ion-eye"></i></a>
                                    <a class="link-details" title="Daha Fazla Bilgi" asp-controller="MemberPage" asp-action="RequestNewAd" asp-route-id="@item.AdID"><i class="ion ion-checkmark"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">Card 3</a></h4>
                                    <p>Card</p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (item.CategoryID == 9)
                    {
                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="assets/img/portfolio/web1.jpg" class="img-fluid" alt="">
                                    <a data-title="food" class="link-preview" data-toggle="modal" data-target="#infoAd_@item.AdID"><i class="ion ion-eye"></i></a>
                                    <a class="link-details" title="Daha Fazla Bilgi" asp-controller="MemberPage" asp-action="RequestNewAd" asp-route-id="@item.AdID"><i class="ion ion-checkmark"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">Web 1</a></h4>
                                    <p>Web</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

    </div>
</section><!-- End Portfolio Section -->


@if (Model != null)
{
    @foreach (var item in Model)
    {

        <div class="modal fade" id="infoAd_@item.AdID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">İlan İncele</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="wrapper row">
                            <div class="preview col-md-6">

                                <div class="preview-pic tab-content">
                                    @if (item.CategoryID == 1)
                                    {
                                        <div class="tab-pane active" id="pic-1"><img src="~/img/yemek.jpg" /></div>
                                    }
                                    @if (item.CategoryID == 2)
                                    {
                                        <div class="tab-pane active" id="pic-1"><img src="~/img/stuff.jpg" /></div>
                                    }
                                    @if (item.CategoryID == 3)
                                    {
                                        <div class="tab-pane active" id="pic-1"><img src="~/img/pet.jpg" /></div>
                                    }
                                    @if (item.CategoryID == 4)
                                    {
                                        <div class="tab-pane active" id="pic-1"><img src="~/img/money.jpg" /></div>
                                    }
                                    @if (item.CategoryID == 5)
                                    {
                                        <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
                                    }
                                    @if (item.CategoryID == 6)
                                    {
                                        <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
                                    }
                                    @if (item.CategoryID == 7)
                                    {
                                        <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
                                    }
                                    <p class="product-description">@item.MemberName @item.MemberSurname</p>
                                    <p class="product-description">@item.CityName</p>
                                </div>

                            </div>
                            <div class="details col-md-6">
                                <h3 class="product-title">@item.AdTitle</h3>
                                <p class="product-description">@item.AdInfo</p>
                            </div>
                        </div>
                        <div class="wrapper row align-items-center">
                            <div class="action">
                                <a class="add-to-cart btn btn-default" type="submit" asp-controller="GeneralPage" asp-action="RequestNewAdMessage" asp-route-id="@item.AdID">Mesaj Gönder</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
<style>
    .dropdown-content {
        top: 35px;
    }

    .dropdown {
        float: right;
        position: relative;
    }

        .dropdown .dropbtn {
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 15px;
            color: darkolivegreen;
            padding: 20px 16px;
            top: 100%;
            background-color: inherit;
            margin: 0;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 150px;
        z-index: 1;
        top: 100%;
    }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 10px 12px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

            .dropdown-content a:hover {
                color: red;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>