@model WebUI.Models.MessageDetailViewModel

@{
    Layout = "_Layout";
    int requestID = 0;
}

<div class="container">
    <h3 class=" text-center">Mesajlar</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Son Mesajlar</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Ara">
                            <span class="input-group-addon">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    @if (Model.allMessages != null)
                    {
                        @foreach (var item in Model.allMessages)
                        {
                            @if (requestID != item.RequestID)
                            {
                                <a asp-controller="GeneralPage" asp-action="Message" asp-route-id="@item.RequestID">
                                    <div class="chat_list">
                                        <div class="chat_people">
                                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                            <div class="chat_ib">
                                                @if (item.RequestMemberID == Model.memberID)
                                                {
                                                    <h5>@item.MemberName @item.MemberSurname ~ @item.MemberNickName<span class="chat_date">@item.MessageDate.ToString("dd.MM.yy")</span></h5>
                                                }
                                                else
                                                {
                                                    <h5>@item.RequestMemberName @item.RequestMemberSurname ~ @item.RequestMemberNickName<span class="chat_date">@item.MessageDate.ToString("dd.MM.yy")</span></h5>
                                                }
                                                <p>
                                                    @item.Message
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                requestID = item.RequestID;
                            }
                        }
                    }
                </div>
            </div>


            <div class="mesgs">
                <div class="msg_history">
                    @if (Model.messages != null)
                    {
                        @foreach (var item in Model.messages)
                        {
                            @if (item.SenderMemberID != Model.memberID)
                            {
                                <div class="incoming_msg">
                                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <p>
                                                @item.Message
                                            </p>
                                            <span class="time_date"> @item.MessageDate.ToLongDateString()</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="outgoing_msg">
                                    <div class="sent_msg">
                                        <div class="row">

                                            <p>
                                                <a class="icon-trash" asp-controller="GeneralPage" asp-action="MessageDelete" asp-route-id="@item.MessageID"></a>
                                                @item.Message
                                            </p>
                                        </div>

                                        <span class="time_date">@item.MessageDate.ToLongDateString()</span>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <form asp-controller="GeneralPage" asp-action="MessageSend" method="post">

                    <div class="type_msg">
                        @if (Model.messages != null)
                        {<div class="input_msg_write">
                                <input asp-for="messageSend.Message" name="messageSend.Message" type="text" class="write_msg" placeholder="Mesaj yaz" />

                                <input asp-for="messageSend.MessageRequestID" name="messageSend.MessageRequestID" type="hidden" value="@Model.messages[0].MessageRequestID" />
                                <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


